@charset "UTF-8";

/*** reset ***/
*{margin: 0; padding: 0;}
ul > li{list-style: none;}

/*** header ***/
header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* padding: 20px 10px; */
  width: 90%;
  height: 160px;
  margin: 20px auto;
  position: relative;
}
header > .left{
  color: crimson;
}
header > .center{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
header > .center > ul{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
header > .center > div{
  border: 1px solid #222;
  border-radius: 50px;
  padding: 10px 30px;display: flex;
  align-items: center;
}
header > .center > div > i{
  color: #fff;
  background-color: crimson;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
}
header > .center > div > ul{
  width: 600px;
  display: flex;
  justify-content: space-between;
}
header > .center > div > ul > li:nth-child(1)
{flex: 2;
border-radius: 50px 0 0 50px;}
header > .center > div > ul > li:nth-child(4){
  /* width: 30%; */
  flex: 2;
  border-radius: 0 50px 50px 0;
  border: none;
}
header > .center > div > ul > li:nth-child(2),
header > .center > div > ul > li:nth-child(3){
  /* width: 20%; */
  flex: 1;
}
header > .center > div > ul >li{
  border-right: 1px solid #222;
  padding: 3px 10px;
}
header > .center > div > ul >li > p:nth-child(1){
  font-size: 10px;
}
header > .center > div > ul >li > p:nth-child(2){
  color: #535353;
}
header > .center > div > ul > li:hover{
  background-color: #eee;
  cursor: pointer;
}
header > .right{
display: flex;
align-items: center;
gap: 20px;}
header > .right > ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #222;
  border-radius: 30px;
  padding: 10px;
  gap: 20px;
}
header > .right > ul > li:nth-child(2){
  font: 24px;
}

/*** mobile menu ***/
div.mobile-menu{
  width: 90%;
  margin: 20px auto;
  display: none;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
div.mobile-menu > .left{
  border: 1px solid #eee;
  border-radius: 50px;
  box-shadow: 2 2 10px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  flex: 1;
  padding: 7px;
}
div.mobile-menu > .left > i{
  width: 40px;
  text-align: center;
} 
div.mobile-menu > .right{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #222;
  border-radius: 50%;
}

/*** main ***/
main{
  width: 90%;
  margin: 0 auto;
}
/*** nav ***/
nav{display: flex;
  position: relative;
align-items: center;}
nav > .btn > div{
  margin-left: auto;
  width: 20px;
  height: 20px;
  border: 1px solid #222;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  padding: 10px;
  font-weight: bolder;
  position: absolute;
  top: 0;
  background-color: #fff;
}
nav > .btn > div:nth-child(1){
  /*** 왼쪽 버튼 ***/
  left: 10px;
}
nav > .btn > div:nth-child(2){
  /*** 오른쪽 버튼 ***/
  left: 90%;
}
nav > .icon{
  color: #555;
  display: flex;
  gap: 30px;
  /* flex: 1; */
  width: 90%;
  overflow: hidden;
  position: absolute;
  left: 60px;
  text-align: center;
}
nav > .icon > .item > img{
  width: 40px
}
nav > .icon > .item > p{
  font-size: 0.8rem;
  text-align: center;
}
nav > .filter{
  text-align: center;
  width: 80px;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #222;
  margin-left: auto;
}

/*** card ***/
.card-list{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}
.card-list > .card{
  width: 15%;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}
.card-list > .card > .card-img{
  /* width: 100%; */
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  aspect-ratio: 1;
  /* background-color: #555; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-list > .card:nth-child(1) > .card-img{
  background-image: url(./images/p-1.jpeg);
}
.card-list > .card:nth-child(2) > .card-img{
  background-image: url(./images/p-2.jpeg);
}
.card-list > .card:nth-child(3) > .card-img{
  background-image: url(./images/p-3.jpeg);
}
.card-list > .card:nth-child(4) > .card-img{
  background-image: url(./images/p-4.jpg);
}
.card-list > .card:nth-child(5) > .card-img{
  background-image: url(./images/p-5.jpeg);
}
.card-list > .card:nth-child(6) > .card-img{
  background-image: url(./images/p-6.jpg);
}
.card-list > .card:nth-child(7) > .card-img{
  background-image: url(./images/p-7.jpg);
}
.card-list > .card:nth-child(8) > .card-img{
  background-image: url(./images/p-8.jpg);
}
.card-list > .card:nth-child(9) > .card-img{
  background-image: url(./images/p-9.jpg);
}
.card-list > .card:nth-child(10) > .card-img{
  background-image: url(./images/p-10.jpeg);
}
.card-list > .card:nth-child(11) > .card-img{
  background-image: url(./images/p-11.jpg);
}
.card-list > .card:nth-child(12) > .card-img{
  background-image: url(./images/p-12.jpeg);
}
.view-btn{
  opacity: 1;
}
.card-list > .card > .card-img > .card-title> p{
  background-color: #fff;
  border-radius: 50px;
  padding: 3px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card-list > .card > .card-img > .card-title> i{
  color: #fff;
  font-size: 24px;
}
.card-list > .card > .card-img > .card-btn> p{
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  padding: 5px;
  display: none;
}
.card-list > .card > .card-img:hover > .card-btn > p{
display: block;
cursor: pointer;
} 
.card-list>.card>.card-img>.card-title,
.card-list>.card>.card-img>.card-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-list>.card>.card-img>.circle{
  text-align: center;
  margin: 5px;
}
.card-list>.card>.card-img>.circle>span{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #aaa;
  border-radius: 50%;
}
.card-list>.card>.card-txt>.card-txt1{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

/*** footer ***/
footer{
  text-align: center;
}
footer>p{
  margin: 20px auto;
}
footer>p:nth-child(2){
  width: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #222;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/*** 미디어쿼리 ***/ 
@media screen and (max-width:1100px) {
  main .card{
    width: 23%;
  }
}
@media screen and (max-width:950px) {
  nav > .filter{
    display: none;
  }
  header{
    height: 200px;
  }
  nav > .icon {
    width: 80%;
    margin-top: 80px;
  }
  header>.center{
    top: 50px
  }
  .card-list{
    margin-top: 100px;
  }
  .card-list>.card{
    width: 48%;
  }
}

@media screen and (max-width:740px) {
  header{
    display: none;
  }
  .mobile-menu{
    display: flex;
  }
  .card-list>.card{
    width: 100%;
  }
  nav > .icon {
    margin-top: 120px;
  }
  nav > .btn > div{
    margin-top: 20px;
  }
}