@charset "UTF-8";

*{margin: 0; padding: 0;}

html{
  font-size: 62.5%; /**10px 1rem**/
}
li{
  list-style: none;
}
main{
  background-image: url(./images/bg1.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: #fff;
}

/*** 로그인 하기 전 화면 ***/
.login{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* display: none; */
}
.date-wrap{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.year{
  font-size: 2.5rem;
}
.clock-wrap{
  display: flex;
  align-items: center;
  gap: 10px;
}
.clock-wrap > p{
  font-size: 10rem;
}
.am{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}
/*** 로그인 창 ***/
#loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#loginForm>input{
  margin-bottom: 10px;
  width: 1000px;
  border: none;
  border-bottom: 3px solid #ddd;
  background-color: transparent;
  font-size: 4.5rem;
  color: #fff;
  text-align: center;
}
#loginForm>input::placeholder{
  color: #ddd;
}
#loginForm > button{
  width: 150px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  cursor: pointer;
}
#loginForm > button:hover{
  background-color: rgba(200, 200, 200, 0.5);
}


/*** 로그인 후 화면 ***/
.hiden{
  display: none;
}
.logout-btn{
  position: fixed;
  top: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 150px;
  height: 45px;
  background-color: rgba(225, 225, 225, 1);
  border-radius: 50%;
  color: #222;
  font-size: 1.8rem;
  font-weight: bolder;
  cursor: pointer;
}
.logout-btn:hover{
  background-color: rgba(100, 100, 100, 0.5);
}
.logout-btn>img{
  width: 25px;
  height: 25px;
}
.hello{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-size: 5rem;
}
.hello> img{
  width: 60px;
  height: 60px;
}

/*** 박스들 아이콘 ***/
.box-wrap{
  display: flex;
  justify-content: space-around;
  gap: 350px;
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.box-right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*** todo ***/
.todo-form{
  width: 550px;
  height: 600px;
  background-color: rgba(180, 180, 180, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-txt{
  display: flex;
  gap: 15px;
  font-size: 3.5rem;
  font-weight: bolder;
  padding: 10px 0;
}
.todo-list{
  height: 480px;
}
.todo-input>input{
  border: none;
  border-bottom: 3px solid #333;
  background-color: transparent;
  font-size: 2rem;
  text-align: center;
  width: 500px;
}
/**** 날씨, 날짜 ***/
.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 550px;
  height: 300px;
  background-color: rgba(180, 180, 180, 0.7);
  border-radius: 20px;
}
.weather > p:nth-child(1){
  font-size: 2rem;
  font-weight: bolder;
}
.weather > p > img{
  width: 25px;
  height: 25px;
}
.clock-wrap > p{
  font-size: 8rem;
}
.today{
  font-size: 2rem;
}
/**** 명언 ****/
.quotes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 550px;
  height: 200px;
  background-color: rgba(180, 180, 180, 0.7);
  border-radius: 20px;
}
.quotes > p:nth-child(1){
  font-size: 2.5rem;
}
.quotes > p:nth-child(2){
  width: 500px;
  height: 80px;
  font-size: 1.8rem;
  border-radius: 30px;
  text-align: center;
  line-height: 80px;
}