@charset "utf-8";

/*** reset.css ***/
*{ margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
body{height: 100vh; }

/*** google font ***/
.do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*** header 영역 ***/
header > nav > div.logo{
  letter-spacing: 15px;
  cursor: pointer;
}

header > nav > ul > li{
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 5px;
}
header > nav > ul > li:hover{
  background-color: rgba(0,0,0,0.5);
}
header > nav > div.icons > a{
  margin: 0 2px;
  color: #fff;
}
header > nav{
  width: 90%;
  min-width: 800px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}
header{
  height: 100%;
  background-image: url(../images/main.jfif);
  background-size: cover;
  color: #fff;
  font-size: 20px;
  position: relative; /*** 기준범위 ***/
}
header > div{
  /*** relative로 변경 ***/
  /* position: relative;
  top: 400px;
  left: 80px; */
  /*** absolute로 위치 이동 ***/
  position: absolute;
  bottom: 20px;
  left: 100px;
}
header > div > p:nth-of-type(1){
  font-size: 90px;
  letter-spacing: 5px;
  line-height: 0.9;
}

/*** 메인 영역 ***/
main > div.card{
  width: 90%;
  margin: 20px auto;
  height: 100vh;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main > div.card div.card-txt{
  margin-top: 50px;
  text-align: center;
  color: #fff;
}
main > div.card div.card-txt > p{
  font-size: 55px;
  color: #fff;
}
main > div.card div.card-btn{
  margin-bottom: 30px;
}
main > div.card div.card-txt > a{
  text-decoration: underline;
  color: #fff;
}

main > div.one{
  background-image: url(../images/Homepage-Model-S.jfif);
}
main > div.two{
  background-image: url(../images/Homepage-Model-3-twocar.jfif);
}
main > div.three{
  background-image: url(../images/Homepage-Model-X-.jfif);
}

main > div.two > div.card-txt >p{
  margin-top: 80px;
}

main > div.three > div.card-txt >p{
  margin-top: 80px;
}
main > div.four > video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

main > div.four{
  position: relative;
}

main > div.four > div.detail{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  
}
footer{padding: 50px 0;}

footer > ul{
  display: flex;
  justify-content: center;
  gap: 15px;
  color: #333;
}

/*** 공통 버튼 ***/
.btn{
  background-color: #fff;
  display: inline-block;
  color: #222;
  padding: 5px 20px;
  border-radius: 5px;
  opacity: 0.8;
  width: 150px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.white{
  background-color: #fff;
  color: #222;
}
.blue{
  background-color: blue;
  color: #fff;
}